body{
    background-color: #EFEFEF;
    color: #707070;
    font-size: 30px;
    font-family: 'Helvetica','Arial';
}

h2{
    font-family: 'Helvetica Light','Arial';
    font-weight: 50;
    font-size: larger;
}
h4{
    font-family: 'Helvetica Light','Arial';
    font-weight: 50;
    font-size: larger;
}

h5{
    font-family: 'Helvetica Light','Arial';
    font-weight:50;
}

.center{
    text-align:center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a img {
    cursor: pointer;
}

.button {
    background-color: #C60000; /* Green */
    border: none;
    color: white;
    padding: 28px 70px;
    text-align: center;
    text-decoration: none;
    font-weight:bolder;
    display: inline-block;
    font-size: 30px;
}
.buttonDisabled {
    background-color: #BFBFBF; /* Green */
    border: none;
    color: white;
    padding: 28px 70px;
    text-align: center;
    text-decoration: none;
    font-weight:bolder;
    display: inline-block;
    font-size: 30px;
}

input[type=number] {
    width: 100%;
    font-size:20px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
