{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vivavoce/style.css' %}" />
	<div class="center">
	<h2>Please Look at the camera<br />
		and press detect</h2>

	<p><div id="my_camera" ></div></p>
	<!-- First, include the Webcam.js JavaScript Library -->
    <script src="{% static 'vivavoce/javascript/js.cookie.js' %}"></script>
	<script src="{% static 'vivavoce/javascript/webcam.min.js' %}"></script>

	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 427,
			height: 320,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	</script>

	<!-- A button for taking snaps -->
	<form>
		<!-- <input type="image" src="{% static 'vivavoce/images/detectbutton.png' %}" onClick="take_snapshot()"> -->
		<input type = "button" id="btnDetect" class="button" value="DETECT" onClick="take_snapshot()">
	</form>

	<!-- Code to handle taking the snapshot and displaying it locally -->
	<script language="JavaScript">
		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
                //rekognize(data_uri,2);
                var csrftoken = Cookies.get('csrftoken');

                var formData = new FormData();

				formData.append('path',data_uri);
				document.getElementById("btnDetect").className = "buttonDisabled";
				document.getElementById("btnDetect").disabled = true;


                var request = new XMLHttpRequest();
                request.onreadystatechange=function(){
                    if(this.readyState==4 && this.status==200){
												window.location.replace('../../welcome/');
												console.log("returned inside if");
                    }
                    else{
						console.log(this.readyState + " is the ready state and "+this.status);
                        if(this.readyState==4 && this.status==403){
							document.getElementById("btnDetect").className = "button";
							document.getElementById("btnDetect").disabled = false;

                            window.prompt("Wrong");
                        }
                    }
                }
                var id={{student.id}};
                id= "/rekognize/"+id+"/";
                request.open("POST",id);
                request.setRequestHeader("X-CSRFToken", csrftoken);
                request.send(formData)

            } );
		}
	</script>
	</div>

{% csrf_token %}
