{% load static %}


	<div id="results">Your captured image will appear here...</div>
	
	<h1>WebcamJS Test Page</h1>
	<h3>Demonstrates simple 320x240 capture &amp; display</h3>
	
	<div id="my_camera"></div>
	
	<!-- First, include the Webcam.js JavaScript Library -->
    <script src="{% static 'vivavoce/javascript/js.cookie.js' %}"></script>
	<script src="{% static 'vivavoce/javascript/webcam.min.js' %}"></script>
    
	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	</script>
	
	<!-- A button for taking snaps -->
	<form>
		<input type=button value="Take Snapshot" onClick="take_snapshot()">
	</form>
	
	<!-- Code to handle taking the snapshot and displaying it locally -->
	<script language="JavaScript">
		function take_snapshot() {
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
                //rekognize(data_uri,2);
                var csrftoken = Cookies.get('csrftoken');
                
                var formData = new FormData();
                
                formData.append('path',data_uri);
                

                var request = new XMLHttpRequest();
                request.onreadystatechange=function(){
                    if(this.readyState==4 && this.status==200){
                        window.location.replace('../');
                    }
                    else{
                        if(this.readyState==4 && this.status==403){
                            window.prompt("Wrong");
                        }
                    }
                }
                request.open("POST","/rekognize/2");
                request.setRequestHeader("X-CSRFToken", csrftoken);
                request.send(formData)

            } );
		}
	</script>

{% csrf_token %}