{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vivavoce/style.css' %}" />

<div class="topleft">
    <h5>Exam time left: <span id="duration">45:00</span></h5>
</div>

<div class="center">
    <h2><i>Question</i> {{Question.number}}/{{Question.total}}</h2>

    <p>
        <img src="{% static 'vivavoce/images/soundwave.png' %}">
    </p>

    <h1 id='timer'>00:30</h1>

    <p>
        <a onclick="triggerRecording()">
            <img id="micimage" src="{% static 'vivavoce/images/mic.png' %}" height="80px" width="80px">
        </a>
    </p>
</div>

<script type="text/javascript">
    DJANGO_STATIC_URL = '{{ STATIC_URL }}';
</script>
<script src="{% static 'vivavoce/javascript/recorder.js' %}"></script>
<script src="{% static 'vivavoce/javascript/js.cookie.js' %}"></script>
<script src="{% static 'vivavoce/javascript/index.js' %}"></script>

{% csrf_token %}
