{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vivavoce/style.css' %}" />


<div class="center">
    <h2><i>Question</i> {{ question.id }}/{{ count }}</h2>

    <p>
        <img src="{% static 'vivavoce/images/soundwave.png' %}">
    </p>

    <h1 id='timer'>00:30</h1>

    <p>
        <a onclick="triggerRecording({{question.id}},{{count}})">
            <img id="micimage" src="{% static 'vivavoce/images/mic.png' %}" height="80px" width="80px">
        </a>
    </p>
</div>

<script type="text/javascript">
    DJANGO_STATIC_URL = '{{ STATIC_URL }}';
    TIMESTAMP = 0;
    QUESTION_ID = {{ question.id }};
    TEST_ID = {{ test.id }};
</script>

<script src="{% static 'vivavoce/javascript/recorder.js' %}"></script>
<script src="{% static 'vivavoce/javascript/js.cookie.js' %}"></script>
<script src="{% static 'vivavoce/javascript/index.js' %}"></script>

<script>
    var audio = new Audio('{{ question.s3_name }}');
    audio.play();

    audio.addEventListener("ended", function(){
        audio.currentTime = 0;
        thinkingTimer(thinkingtime, display);
        console.log("ended");
    });
</script>

{% csrf_token %}
